:root {
    --radius: 0.2rem;
    --color-primary: #00204E;
    --color-nav-hover:#3b87df;
    --color-event-background: #B2C3D0;
    --color-webpage: #F2F4F7;
    --color-new-event: #0280FA;
}
html{
    font-family: "Verdana",sans-serif;
    background-color: var(--color-webpage);
}

body{
    background-color: var(--color-webpage);
    padding-top: 108px; /* Account for the nav bar height and push everything down */
}

nav{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

/* Nav bar */
.nav_links {
    padding: 1rem;
    border-radius: var(--radius);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 3px solid black;
    background-color: var(--color-primary);
}

.nav_item {
    list-style: none;
    margin-right: 2rem;
    font-size: 20px;
    font-weight: 900;
}

.nav_item a {
    text-decoration: none;
    color: white;
    transition: all 200ms ease-in;
}

.nav_item a:hover {
    color: var(--color-nav-hover);
}

.nav_item_left{
    margin-right: auto;
    text-decoration: none;
    color: black;
    list-style: none;
    justify-content: flex-start;
}

.logo {
    width: 75px;
    height: 75px;
    display: inline-block;
}

.clickable_logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.company_name {
    margin-right: auto;
    font-size: 35px;
    font-weight: 900;
    height: 100%;
    display: inline-block;
}

.user_icon {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
    cursor: pointer;
}

.user_logo_name{
    padding-left: 12px;
    margin-top:8px;
}

.image-container {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%;
    right: 0;
}

/* Style the dropdown items to display vertically */
.dropdown-content a {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: #333;
}

.dropdown-content a:hover {
    color: var(--color-nav-hover);
}

/* Show the dropdown when hovering over the image */
.image-container:hover .dropdown-content {
    display: block;
}

.help-block {color: #ffffff !important;}

.control-label {color: #ffffff !important;}

.alignright {float: right;}

.button-1 {
    background-color: #315887;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
background-color: #19345d;
}

/* homepage */

.home_main_image_wrapper{
    position: relative;
}

.home_main_image {
    display: block;
    width: 100%;
    height: 700px;
}

.overlay_text_container {
    position: absolute;
    bottom: 0;
    width: 15%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    animation: slideInLeft 1s forwards;
}

.overlay_text{
    transform: translateX(-100%);
    font-size: 40px;
    font-weight:bolder;
}

.overlay_text:nth-child(1){
    animation: slideText 1s 1s forwards;
}

.overlay_text:nth-child(2){
    animation: slideText 1s 2s forwards;
}

.overlay_text:nth-child(3){
    animation: slideText 1s 3s forwards;
    color: var(--color-nav-hover);
}

.blue{
    color: var(--color-nav-hover);
    font-weight: bolder;
}

.home_bottom_container{
    display:flex;
    width:100%;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: space-between;
    overflow:hidden;
    flex-direction: column;
}

.welcome{
    font-size:50px;
}

.welcome_description{
    font-size: 25px;
}

.description{
    font-size: large;
    padding-left:15px;
    padding-right:15px;
    max-width: 100%;
    text-align: center;
}

.explore_button{
    background-color: var(--color-primary);
    color:white;
    font-size: large;
    font-weight: bold;
    height:50px;
    width:200px;
    border-radius:360px;
    cursor:pointer;
    margin-top: auto;
    margin-bottom:10px;
    justify-content: center;
}

.explore_button:hover{
    color:var(--color-primary);
    background-color: white;
    transition:0.2s ease-in;
}

.background_container{
    background:url('/static/background2.png') center/cover no-repeat;
    overflow: hidden;
    background-position: center bottom;
}

.category_flex{ 
    display: flex;
    padding:10px;
    flex-direction: column;
    border: 1px solid black;
    margin:25px auto;
    max-width:1700px;
    background-color:#f9f9f9;
}

.category_flex:nth-child(1){
    margin-top:100px;
}

.category_header{
    font-size:35px;
    font-weight: bolder;
    color: var(--color-primary);
    margin-left: 10px;
    padding-top:10px;
}

.featured_event{
    width: 700px;
    height: 500px;
    margin: 10px;
}

.featured_event_description{
    display:flex;
    flex-direction: column;
    font-size: 18px;
    line-height: 1.6;
    color:#333;
}

.event_wrapper{
    display: flex;
}

.featured_description{
    margin:15px;
    font-size: 20px;
}

/* Animations */
@keyframes slideInLeft {
    0% {
        left: -20%; /* Start the black rectangle off the left edge of the container */
    }
    100% {
        left: 0; /* Slide in the black rectangle to the left edge of the container */
    }
}

@keyframes slideText {
    0% {
        transform: translateX(-100%); /* Start text elements off the left edge */
    }
    100% {
        transform: translateX(0); /* Slide text elements in from the left */
    }
}

/* Adjust font size for smaller screens */
@media screen and (max-width: 1095px) {
    .overlay_text {
      font-size: 20px;
    }
}
  
  /* Adjust font size for even smaller screens */
@media screen and (max-width: 480px) {
    .overlay_text {
      font-size: 12px;
    }
}

.filter-container {
    display: flex;
    flex-direction: row;
}

.list-top-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.btn-container {
    margin: 10px;
    flex: 1;
}

.btn.active {
    background-color: #ffc107 !important; /* Yellow background for the active button */
    border: 2px solid #ffc107 !important; /* Yellow border for the active button */
    pointer-events: none; /* Disable pointer events on the disabled button */
}

.btn-group-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#content {
    margin: 50px;
}

.form-horizontal {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}


.event-container {
    height: 200px;
    overflow: hidden;
}

.event {
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    flex-direction: row;    
}

.event-list {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

/* Club Page Template */
.club_upper_block{
    display:flex;
    padding-bottom:20px;
    padding-top:50px;
}
.club_upper_block_title_wrapper{
    margin-left:30px;
}
.club_upper_block_title{
    color: var(--color-primary);
}

.club_bottom_block{
    display: flex;
    justify-content: space-evenly;
}

/* Club events on club.html */
.club_image_column{
    padding: 20px;
    text-align: center;
    margin: 10px; /* Add some spacing and style */
    flex: 1; /* This column will be half as wide as the others */
    text-align: left; /* Align text to the left */
}

.club_past_events{
    padding: 20px;
    margin: 10px; /* Add some spacing and style */
    flex: 1; /* This column will be half as wide as the others */
    text-align: center; /* Align text to the left */
    background-color: #B2C3D0;
    max-height: 1200px;
}

.club_current_events{
    padding: 20px;
    margin: 10px; /* Add some spacing and style */
    flex: 1; /* This column will be half as wide as the others */
    text-align: center; /* Align text to the left */
    background-color: #B2C3D0;
    max-height: 1200px;

}

.club_event_info{
    background-color: #F1F1F1; /* Choose a background color that pairs nicely */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px; /* Optional: Add rounded corners for a softer look */
}

.event_upper{
    display:flex;
    justify-content: space-between;
}

.event_middle{
    padding-top:15px;
}

.event_bottom{
    display: flex;
    justify-content: space-between;
}

.register_button{
    border-radius: 3px;
    height:40px;
    width:150px;
    display: block;
    margin-left:auto;
    color:white;

    background: linear-gradient(to right, white 50%, var(--color-new-event) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .3s ease-out;
}

.register_button:hover {
    background-position: left bottom;
    color: var(--color-new-event);
  }

.new_event{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.new_event_button{
    margin-top:15px;
    background-color: var(--color-new-event);
    color: white;
    height:50px;
    width:250px;
    border-radius:360px;
    cursor:pointer;
    margin-left:15px;
    border: none;
}

.new_event_button:hover{
    color:var(--color-new-event);
    background-color: white;
    transition:0.3s ease-in;
}

/* Style for the Unfollow button */
form input#unfollow[type="submit"] {
    background-color: #E74C3C; 
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 3px;
    transition: background-color 0.3s;
    margin-left: 15px;
}

form input#unfollow[type="submit"]:hover {
    background-color: white;
    color: #E74C3C; 
}

/* Style for the Follow button */
form input#follow[type="submit"] {
    background-color: var(--color-new-event);
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 3px;
    transition: background-color 0.3s;
    margin-left: 15px;
}

form input#follow[type="submit"]:hover {
    background-color: white;
    color: var(--color-new-event);
}

.form-fields-1 {
    flex:1;
    /* flex-direction: row; */
}

.form-fields-2 {
    flex: 1;
}

.form-field-item {
    margin-bottom: 10px;
}

.form-field label {
    font-size: 16px; /* Adjust the font size to your preference */
    font-weight: bold; /* Optional: Adjust font weight as needed */
    margin-bottom: 5px; /* Optional: Add spacing between label and input */
}

.form-label {
    color: #F2F4F7;
}

.form-input-label {
    width: 40%;
}

.form-input-label input {
    width: 100%;
}


.form-text-area-label {
    width: 90%;
}

.form-text-area-label textarea{
    width: 100%;
    height: 200px;
}

.event-category-label {
    width: 40%;
}

ul#event_category {
    padding-left: 0; /* Remove the default padding on the left */
    list-style-type: none; /* Remove the default list bullet points */
}

ul#event_category li {
    text-align: left; /* Align the text to the left within list items */
}

