<!DOCTYPE html>
<html>
<head>
    <title>{{ page_title if page_title else "CampusConnect" }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='club_event.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='view_event_user.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='list.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='feed.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Add Bootstrap CSS and JavaScript -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">

</head>
<body>
    <nav>
        <ul class="nav_links">
            <li class="nav_item_left">
                <a class="clickable_logo" href="/">
                    <img class="logo" src="/static/Utoronto_logo.png" alt="logo">
                    <p class="company_name">CampusConnect</p>
                </a>
            </li>
            <li class="nav_item"><a href="/">Home</a></li>
            <li class="nav_item"><a href="events?type=following">Events</a></li>
            <li class="nav_item"><a href="clubs?type=following">Clubs</a></li>
            <div class="image-container">

                <img class="user_icon" src="/static/user_icon_white.png" alt="user_icon">
                <div class="dropdown-content">
                    <a href="#">Account Settings</a>
                    <a href="#">Log Out</a>
                </div>
            </div>
        </ul>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>
