{% import 'list.html' as list_create %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}

{% block content %}
    <div class="feed_wrapper">
        <div class="form_panel" style="padding-left: 0px;">
            <h3>Filters </h3>
            <form class="form" method="post" role="form">
                {{ form.csrf_token }}          
                <div>
                    <b>{{ form.search.label() }}</b>
                </div>
                <div>
                    {{ form.search() }}
                </div>
                <br>
                <div>
                    <b>{{form.categories.label()}}</b>
                </div>
                <div>
                    {{(form.categories(class_="list-group-override"))}}
                </div>
                
                <br>
                <div>
                    {{form.submit() }}
                </div>
                
            </form>
        </div>
        <div class="events_panel">
            <h3 style="padding-left: 32px; margin-bottom: 0px;">Clubs </h3>
            <div style="display: flex;justify-content: center;padding-top: 0px; align-items: center;">
                <div class="list-top-bar">
                    <!-- Navigation Links for List Types -->
                    <div class="btn-group-container">
                        <div class="btn-container">
                            {% if type == "following" %}
                                <a href="clubs?type=following" class="btn btn-primary btn-md active" disabled>Following</a>
                            {% else %}
                                <a href="clubs?type=following" class="btn btn-primary btn-md">Following</a>
                            {% endif %}
                        </div>
                        <div class="btn-container">
                            {% if type == "explore" %}
                                <a href="clubs?type=explore" class="btn btn-primary btn-md active" disabled>Explore</a>
                            {% else %}
                                <a href="clubs?type=explore" class="btn btn-primary btn-md">Explore</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% if clubs|length == 0  %}
                {% if type == "following" %}
                <div class="no-events-message">
                    <div>There are no clubs you follow. Try exploring <a href="/clubs?type=explore">clubs</a> or expanding your filters.</div>
                </div>
                {% elif type == "explore" %}
                <div class="no-events-message">
                    <div>There are no clubs found. Try expanding your filters.</div>
                </div>
            {% endif %}
            {% else %}
                {{list_create.club_list(clubs)}}
            {% endif %}
        </div> 
    </div>
    
    
{% endblock %}

