{% extends "base.html" %}
{% import 'event_details_macro.html' as event_details%}
{% import 'event_reviews_macro.html' as event_reviews%}
{% block title %}Flasky{% endblock %}
{% block content %}

<div class="container">
    <div class="column" id="column1">
        {%if 'club_img' in data%}
            <img class="club_event_logo" src="{{data['club_img']}}">
        {% else %}
            <img class="club_event_logo" src="/static/ewb_logo.jpg">
        {%endif%}
    </div>
    <div class="column" id="column2">
        {{event_details.event_details(data)}}
    </div>
    <div class="column" id="{{ 'column4' if data['completed'] else 'column3' }}">
        {% if data['completed'] %}
            {{event_reviews.event_reviews(data)}}
        {% else %}
        <h2 style="color: #3A2C25; font-family: Verdana, sans-serif;">ATTENDEES</h2>
        <div class="scrollable-container">
            {% for attendee in data['attendees'] %}
            <div class="attendee-box">
                <p>Name: {{ attendee['name'] }}</p>
                <p>Email: {{ attendee['email'] }}</p>
                <p>Year: {{ attendee['year'] }}</p>
                <p>Program: {{ attendee['program'] }}</p>
            </div>
            {% endfor %}
        </div>
        {% endif %}    
    </div>
</div>

{% endblock %}