{% extends "base2.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}CampusConnect: Create User{% endblock %}

{% block page_content %}

<style>
    body {background-color: #315887;}
    h1   {color: #f6f4f3;}
    p    {color: #f6f4f3;}
    .help-block {color: #ffffff !important;} 
    .control-label {color: #ffffff !important;} 
</style>

<div class="page-header">
    <center><img class="logo" src="/static/Utoronto_logo.png" alt="logo"></center>
    <h1><strong><center>CampusConnect</center></strong></h1>
    <center><p>Fill out form to create a user account</p></center>
</div>
<div class="container-registration">
    <form method="POST" action="/create_user_account" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="col-md-6">
                <div class="form-group-registration">
                    {{ form.name.label(class="form-control-label-registration") }}
                    {{ form.name(class="form-control-registration") }}
                </div>
                <div class="form-group-registration">
                    {{ form.program.label(class="form-control-label-registration") }}
                    {{ form.program(class="form-control-registration") }}
                </div>
                <div class="form-group-registration">
                    {{ form.year.label(class="form-control-label-registration") }}
                    {{ form.year(class="form-control-registration") }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group-registration">
                    {{ form.email.label(class="form-control-label-registration") }}
                    {{ form.email(class="form-control-registration") }}
                </div>
                <div class="form-group-registration">
                    {{ form.password.label(class="form-control-label-registration") }}
                    {{ form.password(class="form-control-registration") }}
                </div>
                <div class="form-group-registration">
                    {{ form.password_conf.label(class="form-control-label-registration") }}
                    {{ form.password_conf(class="form-control-registration") }}
                </div>
            </div>
        </div>
        <center>
            <br>
            <br>
            <div>
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </center>
    </form>
</div>
<br>
<center><p>Already have an account? <u><a href="/login" style="color:#f6f4f3;">Log in</a></u></p></center>
{% endblock %}