{% macro event_details(data) %}
    <h1 class="club_event_name">{{ data['event_name'] }}</h1>
    <p style="font-family: Verdana, sans-serif; font-weight: bold; font-style: italic;"> Event Description: </p>
    <pre class="event-description" style="font-size: medium; font-family: Verdana, sans-serif;">{{ data['event_description'] }}</pre>
    <br>
    <p style="font-family: Verdana, sans-serif; font-weight: bold; font-style: italic;"> Event Details: </p>
    <p style="font-family: Verdana, sans-serif;">Date: {{ data['date'] }}</p>
    <p style="font-family: Verdana, sans-serif;">Time: {{ data['time'] }}</p>
    <p style="font-family: Verdana, sans-serif;">Club: {{ data['club_name'] }}</p>
    <p style="font-family: Verdana, sans-serif;">Location: {{ data['location'] }}</p>
    <p style="font-family: Verdana, sans-serif;">Attending: {{ data['num_attending'] }}</p>
{% endmacro %}
