{% extends "base2.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Event Feedback Form{% endblock %}

{% block page_content %}

<style>
    body {background-color: #00204e;}
    h1   {color: #f6f4f3;}
    p    {color: #f6f4f3;}
    .help-block {color: #ffffff !important;} 
    .control-label {color: #ffffff !important;} 
</style>

<div class="page-header">
    <h1><strong><center>Event Feedback Form</center></strong></h1>
    <h4><center><p>Your feedback matters! Share your event experience with a review.</p></center></h4>
</div>
<center><label style="color:#f6f4f3;"> {{ wtf.quick_form(form) }} </label></center>
<br>
<center><p>Change your mind? <u><a href="{{ url_for('event_feed.view_event_user', event_id=event_id) }}" style="color:#f6f4f3;">Return</a></u></p></center>{% endblock %}