{% import 'list.html' as list_create %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}

{% block content %}
    <div style="display: flex;justify-content: center;">
        <div class="list-top-bar">
            <!-- Navigation Links for List Types -->
            <div class="btn-group-container">
                <div class="btn-container">
                    {% if type == "following" %}
                        <a href="events?type=following" class="btn btn-primary btn-lg active" disabled>Following</a>
                    {% else %}
                        <a href="events?type=following" class="btn btn-primary btn-lg">Following</a>
                    {% endif %}
                </div>
                <div class="btn-container">
                    {% if type == "explore" %}
                        <a href="events?type=explore" class="btn btn-primary btn-lg active" disabled>Explore</a>
                    {% else %}
                        <a href="events?type=explore" class="btn btn-primary btn-lg">Explore</a>
                    {% endif %}
                </div>
                <div class="btn-container">
                    {% if type == "registered" %}
                        <a href="events?type=registered" class="btn btn-primary btn-lg active" disabled>Registered</a>
                    {% else %}
                        <a href="events?type=registered" class="btn btn-primary btn-lg">Registered</a>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
    <div class="feed_wrapper">
        <div class="form_panel" style="padding-left: 0px;">
            <form class="form" method="post" role="form">

                <div>
                    <b>{{ form.search.label() }}</b>
                </div>
                <div>
                    {{ form.search() }}
                </div>
                <br>
                <div>
                    <b>{{form.category.label()}}</b>
                </div>
                <div>
                    {{(form.category(class_="list-group-override"))}}
                </div>
                <div>
                    <b><label>Date</label></b>
                </div>
                <div>
                    {{form.date()}}
                </div>
                <br>
                <div>
                    {{form.submit() }}
                </div>
                
                
            </form>
        </div>
        <div class="events_panel">
            {{ list_create.event_list(events) }}
        </div>
    </div>
{% endblock %}

