{% extends "base.html" %}

{% block content %}
    <div class="home_main_container">
        <div class="home_main_image_wrapper">
            <img class="home_main_image" src="static/homepage_main.png" alt="main image">
            <div class="overlay_text_container">
                <div class="overlay_text">
                    <p>Explore.</p>
                  </div>
                  <div class="overlay_text">
                    <p>Engage.</p>
                  </div>
                  <div class="overlay_text">
                    <p>Connect.</p>
                  </div>
            </div>
        </div>
        <div class="home_bottom_container">
        <div class="description">
            <p class="welcome">
                Welcome to <span class="blue">CampusConnect.</span>
            </p>
            <p class="welcome_description">A centralized platform designed to
                exclusively for the University of Toronto Community. Explore our page to learn about the latest events,
                different teams and clubs you can join, and seamlessly connect with other students, alumni, and staff!</p>
        </div>
        <div class="background_container">
            <div class="category_flex"> 
                <div class="category_header">
                    <p>Discover Vibrant Events</p>
                </div>
                <div class="event_wrapper">
                    <img class="featured_event" src="static/event3.png" alt="main image">
                    <div class="featured_event_description">
                        <p> 
                            Explore a vibrant array of events that pulse through the heart of the University of Toronto community on our web page, inviting you to a dynamic journey of discovery and connection. Uncover the latest happenings, from captivating lectures to thrilling performances, and seamlessly connect with fellow members of the UofT community who share your interests. CampusConnect serves as the central hub, where students, alumni, and staff converge to celebrate shared passions, fostering a sense of unity and collaboration. Immerse yourself in a diverse spectrum of events, each providing an opportunity not only for exploration but also for forging meaningful connections within the rich tapestry of UofT life. Join us in building lasting relationships and experiencing the boundless energy that defines our vibrant community. </p> 
                        <button class="explore_button" onclick="location.href = '/events?type=following'">VIEW EVENTS</button>
                    </div>
                </div>
            </div>
            <div class="category_flex">
                <div class="category_header">
                    <p>Explore Teams and Clubs</p>
                </div>
                <div class="event_wrapper">
                    <img class="featured_event" src="static/event1.png" alt="main image">
                    <div class="featured_event_description">
                        <p> Embark on an enriching journey through the diverse landscape of teams and clubs at the University of Toronto with CampusConnect. Discover a multitude of student-led organizations spanning various interests and disciplines, from academic pursuits to cultural expressions. Immerse yourself in the vibrant tapestry of UofT's community, where teams and clubs provide a platform for like-minded individuals to come together, collaborate, and celebrate shared passions. Explore the myriad events hosted by these dynamic groups, offering opportunities to connect, learn, and make lasting memories. Whether you're drawn to academic excellence, cultural exploration, or community service, CampusConnect is your gateway to a thriving network of teams and clubs, inviting you to explore, engage, and connect with the diverse and dynamic UofT community. </p> 
                        <button class="explore_button" onclick="location.href = '/clubs?type=following'">VIEW CLUBS</button>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
{% endblock %}
