{% extends "base.html" %}

{% block content %}
    <div class="home_main_container">
        <div class="home_main_image_wrapper">
            <img class="home_main_image" src="static/homepage_main.png" alt="main image">
            <div class="overlay_text_container">
                <div class="overlay_text">
                    <p>Explore.</p>
                  </div>
                  <div class="overlay_text">
                    <p>Engage.</p>
                  </div>
                  <div class="overlay_text">
                    <p>Connect.</p>
                  </div>
            </div>
        </div>
        <div class="home_bottom_container">
            <div class="description_explore_wrapper">
                <div class="description">
                    <p>
                        Welcome to UofT's <span class="blue">CampusConnect</span> page! A centralized platform designed to
                        exclusively for the University of Toronto Community. Explore our page to learn about the latest events,
                        different teams and clubs you can join, and seamlessly connect with other students, alumni, and staff!
                    </p>
                    <p>
                        Welcome to UofT's <span class="blue">CampusConnect</span> page! A centralized platform designed to
                        exclusively for the University of Toronto Community. Explore our page to learn about the latest events,
                        different teams and clubs you can join, and seamlessly connect with other students, alumni, and staff!
                    </p>
                    <p>
                        Welcome to UofT's <span class="blue">CampusConnect</span> page! A centralized platform designed to
                        exclusively for the University of Toronto Community. Explore our page to learn about the latest events,
                        different teams and clubs you can join, and seamlessly connect with other students, alumni, and staff!
                    </p>
                    <p>
                        Welcome to UofT's <span class="blue">CampusConnect</span> page! A centralized platform designed to
                        exclusively for the University of Toronto Community. Explore our page to learn about the latest events,
                        different teams and clubs you can join, and seamlessly connect with other students, alumni, and staff!
                    </p>
                </div>
                <button class="explore_button" onclick="location.href = '/explore'">EXPLORE</button>
            </div>
            <div class="event_wrapper">
                <img class="featured_event" src="static/event1.png" alt="main image">
            </div>
            <div class="event_wrapper">
                <img class="featured_event" src="static/event2.png" alt="main image">
            </div>
            <div class="event_wrapper">
                <img class="featured_event" src="static/event3.png" alt="main image">
            </div>
        </div>
    </div>
{% endblock %}
