{% extends "base2.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}

{% block page_content %}

<style>
    body {background-color: #315887;}
    h1   {color: #f6f4f3;}
    h2   {
        color: #f6f4f3;
        font-size: 20px;
        }
    h3   {
        color: #f6f4f3;
        font-size: 18px;
        }                  
    p    {
        color: #f6f4f3;
    }
    .help-block {color: #ffffff !important;}
    .control-label {color: #ffffff !important;}
    .alignright {float: right;}
    .button-1 {
        background-color: #012966;
        border-radius: 8px;
        border-style: none;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        font-weight: 500;
        height: 40px;
        line-height: 20px;
        list-style: none;
        margin: 0;
        outline: none;
        padding: 10px 16px;
        position: relative;
        text-align: center;
        text-decoration: none;
        transition: color 100ms;
        vertical-align: baseline;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #19345d;
}

</style>

<div class="page-header">
    <h1><strong><center>CampusConnect</center></strong></h1>
    <center><h3>Explore. Engage. Connect.</h3></center>
</div>

<img class="alignright" src= "{{url_for('static', filename='/UofTStudents.jpeg')}}" width="650" >
<br>
<h2>Log in using either a club or user account</h2>
<br>
<label style="color:#f6f4f3;"> {{ wtf.quick_form(form) }} </label>
<br>
<br>
<h3>Don't have an account? </h3>
<button class="button-1" role="button"><a href="/create_club"><p>Create Club Account</p></a></button> <button class="button-1" role="button"><a href="/create_user_account"><p>Create User Account</p></a></button>

{% endblock %}

